################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReducedScrabbleConsoleApp/bin
/ReducedScrabbleConsoleApp/obj
/TestProject/bin
/TestProject/obj
